<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate A News Article with NLP</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <h1>Enter a URL of an article.</h1>
          <input
            id="name"
            type="text"
            name="input"
            value=""
            placeholder="insert url..."
          />
          <input
            class="btn"
            type="submit"
            name=""
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <div id="error"></div>
        <strong>Form Results:</strong>
        agreement: <div id="agreement"></div>
        Subjectivity: <div id="subjectivity"></div>
        Confidence: <div id="confidence"></div>
        Irony: <div id="irony"></div>
        Score Tag: <div id="score_tag"></div>
      </section>
    </main>

    <footer>
      <p>
        Evaluate A News Article with Natural Language Processing udacity project
      </p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
